# CONFIG_BATTERY_BQ27XXX is not set
# CONFIG_BATTERY_SBS is not set
# CONFIG_CHARGER_BQ24735 is not set
# CONFIG_I2C_STUB is not set
# CONFIG_LEDS_IS31FL32XX is not set
# CONFIG_LEDS_RGB13H is not set
# CONFIG_MWIFIEX is not set
# CONFIG_MWIFIEX_SDIO is not set
# CONFIG_REGULATOR_ACT8865 is not set
# CONFIG_REGULATOR_FAN53555 is not set
# CONFIG_REGULATOR_RK818 is not set
# CONFIG_REGULATOR_TPS6586X is not set
# CONFIG_REGULATOR_TPS65910 is not set
# CONFIG_RTC_DRV_HYM8563 is not set
# CONFIG_RTL8188EU is not set
# CONFIG_RTL8723DS is not set
# CONFIG_SND_SOC_CX20810 is not set
# CONFIG_SND_SOC_ES8323 is not set
# CONFIG_SND_SOC_ES8396 is not set
# CONFIG_SND_SOC_RK312X is not set
# CONFIG_SND_SOC_ROCKCHIP_MAX98090 is not set
# CONFIG_SND_SOC_ROCKCHIP_RT5645 is not set
# CONFIG_SND_SOC_RT5616 is not set
# CONFIG_SND_SOC_RT5640 is not set
CONFIG_SND_SOC_RT5670=y
# CONFIG_SND_SOC_SPDIF is not set
# CONFIG_TOUCHSCREEN_ATMEL_MXT is not set
# CONFIG_TOUCHSCREEN_ELAN is not set
# CONFIG_TOUCHSCREEN_GSL3673 is not set
# CONFIG_TOUCHSCREEN_GSLX680_D708 is not set
# CONFIG_TOUCHSCREEN_GT9XX is not set
# CONFIG_TOUCHSCREEN_USB_COMPOSITE is not set
# CONFIG_VIDEO_ADV7181D is not set
# CONFIG_VIDEO_IMX219 is not set
# CONFIG_VIDEO_OV13850 is not set
# CONFIG_VIDEO_OV5647 is not set
# CONFIG_VIDEO_TC35874X is not set
# CONFIG_VIDEO_VM149C is not set
# CONFIG_WLAN_VENDOR_INTERSIL is not set
